[Unit]
Description=Nemo device lock daemon
After=dbus.socket mce.service nemo-devicelock.socket
Requires=dbus.socket mce.service nemo-devicelock.socket

[Service]
Type=notify
ExecStart=/usr/libexec/nemo-devicelock
Restart=always
RestartSec=1
