[Unit]
Description=Nemo device lock daemon
After=dbus.socket mce.service
Requires=dbus.socket mce.service

[Service]
Type=notify
ExecStart=/usr/bin/nemodevicelockd
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
